@page "/"
@layout CoreLayout

<div class="d6-splash">
    <img src="_content/DragonFruit.Six.Client/assets/dragon6.svg" alt="" class="d6-splash-logo"/>
    @if (Buttons == null)
    {
        <HxSpinner Size="SpinnerSize.Regular" Color="ThemeColor.Danger"/>
    }
    
    <span>@CurrentStatus</span>
    
    @foreach (var button in Buttons ?? Enumerable.Empty<IServiceButton>())
    {
        <HxButton CssClass="btn-text d6-icon-button text-success" OnClick="() => button.OnClick(Services)">
            <span class="material-icons-round">@button.Icon</span>
            <span>@button.Name</span>
        </HxButton>
    }
</div>