@using DragonFruit.Six.Client.Overlays.Settings.Components
@using DragonFruit.Six.Api.Seasonal.Enums
@using DragonFruit.Six.Client.Configuration
@using DragonFruit.Six.Api.Accounts.Enums

<div class="d6-settings-container">
    <SettingsCategory Title="Defaults">
        <SettingsEnumDropdown T="Platform" Setting="Dragon6Setting.DefaultPlatform" HumanizeValues="false"/>
        <SettingsEnumDropdown T="BoardType" Setting="Dragon6Setting.DefaultSeasonalType" HumanizeValues="false"/>
        <SettingsEnumDropdown T="Region" Setting="Dragon6Setting.LegacyStatsRegion" HumanizeValues="false"/>
    </SettingsCategory>

    <SettingsCategory Title="Misc">
        <SettingsCheckbox Setting="Dragon6Setting.EnableDiscordRPC"/>
    </SettingsCategory>
</div>