.d6-news-grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.d6-news-card {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.d6-news-image {
    height: auto;
    width: 350px;

    min-height: 190px;

    user-select: none;
    object-fit: cover;
}

.d6-news-navigation {
    gap: 1rem;
    margin: 2rem 0;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}