.offcanvas-backdrop {
    margin: 0 !important;
}

.btn-close {
    filter: invert(1);
}

.d6-overlay-header {    
    box-sizing: border-box;
    border-bottom: 1px solid var(--bs-secondary);
}

.d6-overlay-header::before {
    /* creates an empty flex item for allowing title to be centered */
    content: '';
    height: 32px;
    width: 32px;
}

.d6-menu-overlay {
    margin-left: 0;
    margin-right: 0;
    color: var(--bs-light);
    height: min(50vh, 100%) !important;
    background-color: var(--bs-dark);
}

.d6-account-grid {
    gap: 1rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}

.overlay-avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.overlay-rank {
    height: 60px;
    width: 60px;
}

.d6-settings-container, .d6-settings-category {
    display: grid;
    grid-template-columns: 1fr;
}

.d6-settings-container {
    gap: 1.5rem;
}

.d6-settings-category {
    gap: 0.75rem;
}

.d6-settings-category > *:not(:first-child) {
    padding-left: 1rem;
}