.d6-stats, .d6-modern-stats {
    display: flex;
    flex-direction: column;
}

.d6-stats {
    padding-top: 1.5rem;
    margin: var(--d6-header-margin);
    row-gap: 2rem;
}

.d6-modern-stats {
    row-gap: 2rem;
}

.d6-seasons {
    display: flex;
    flex-direction: column;
}

.d6-season-controls {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d6-season-cards {
    display: flex;
    align-items: center;
    flex-direction: column;

    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.d6-season-card {
    width: 100%;
    display: flex;
    align-items: center;

    user-select: none;
}

.d6-season-rank-type-card .d6-season-card {
    width: unset !important;
}

.d6-season-board-selector::after {
    display: none !important;
}

img.d6-season-rank {
    height: 75px;
    width: 75px;
}

img.d6-season-rank-mmr {
    opacity: 0.5;
}

.d6-season-rank-type-container {
    gap: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.d6-season-rank-type-card {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;
    justify-content: space-between;
}

.d6-stats-list {
    display: grid;
    gap: 10px 20px;
    align-self: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
}

.d6-stats-list > dl {
    display: contents;
}

.d6-stats-list dd {
    margin: 0;
}

.d6-progress {
    margin: 10px 0;
    height: 2px !important;
    background-color: var(--bs-danger) !important;
}

.d6-stat-container {
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1200px) {
    /* turn to single col display on smaller screens */
    .d6-stat-container {
        grid-template-columns: 1fr !important;
    }
}

.d6-substat:not(:last-child) {
    margin: 0 1rem 0 0;
}

.d6-icon-stats {
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-top: -1rem;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.d6-icon-stats > * {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d6-icon-stats > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d6-operator-card-header {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.d6-operator-card-header-options {
    gap: 1rem;
    display: flex;
    justify-content: flex-end;

    align-items: center;
}

.d6-operator-card-header-options > * {
    flex-shrink: 0;
}

.d6-operator-card-container {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}