.d6-stats {
    margin: var(--d6-header-margin);
}

.d6-season-current .d6-season-card {
    border: none !important;
}

.d6-season-cards {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 275px);
}

.d6-season-card {
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.d6-season-card {
    border-style: none;
    border-left-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

img.d6-season-rank {
    height: 75px;
    width: 75px;
}

.d6-season-stats {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
}

.d6-progress {
    margin: 10px 0;
    height: 2px !important;
    background-color: var(--bs-danger) !important;
}

.d6-stat-container {
    margin-top: 3rem;

    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1200px) {
    /* turn to single col display on smaller screens */
    .d6-stat-container {
        grid-template-columns: 1fr !important;
    }
}

.d6-substat:not(:last-child) {
    margin: 0 1rem 0 0;
}

.d6-icon-stats {
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-top: -1rem;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.d6-icon-stats > * {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d6-icon-stats > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}