<Dragon6HeaderButton Name="Menu" Icon="bars" Clicked="() => _offcanvas?.ShowAsync()"/>

<HxOffcanvas @ref="_offcanvas"
             HeaderCssClass="d-none"
             CssClass="d6-home-menu-overlay"
             Placement="OffcanvasPlacement.Bottom"
             BodyCssClass="bg-dark d6-header-overlay">
    <BodyTemplate>
        <div class="row g-2">
            @foreach (var button in Buttons)
            {
                <div class="col-@button.ColumnSize">
                    <D6HeaderButton Button="button" IsMenuButton="true"/>
                </div>
            }
        </div>
    </BodyTemplate>
</HxOffcanvas>

@code {

    private HxOffcanvas _offcanvas;

    [Parameter]
    public IEnumerable<IHeaderButton> Buttons { get; set; }

}