<div role="button" @onclick="Clicked">
    @if (CardLayout)
    {
        <div class="card bg-transparent">
            <div class="card-body d-flex flex-column gap-2 align-items-center">
                <i class="fa-solid fa-@Icon" style="@CssClass"></i>
                <span class="text-center">@Name</span>
            </div>
        </div>
    }
    else
    {
        <HxTooltip Text="@Name" Placement="TooltipPlacement.Bottom">
            <i class="fa-solid fa-@Icon" style="@CssClass"></i>
        </HxTooltip>
    }
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public bool CardLayout { get; set; }

    [Parameter]
    public EventCallback Clicked { get; set; }

}