@page "/"
@layout CoreLayout
@using DragonFruit.Six.Client.Overlays.Search

<SearchProvider @ref="_search"/>

<div class="d6-home">
    <D6Header Title="Home"/>

    <div class="container d-flex flex-column">
        <h1 class="py-4 mx-auto display-4">Dragon6</h1>
        <D6Searchbar OnUserSubmit="q => _search.SearchForAccount(q.username, q.platform)"/>
    </div>

    <D6Footer/>
</div>