@using DragonFruit.Six.Client.Configuration
@using System.Reflection
@using System.ComponentModel
@using Humanizer

<div class="d-flex align-items-center justify-content-between">
    <span>@GetSettingDisplayName()</span>
    <HxSwitch @bind-Value="Checked"/>
</div>

@code {

    [Parameter]
    public Dragon6Setting Setting { get; set; }

    [Inject]
    private Dragon6Configuration Configuration { get; set; }

    private bool Checked
    {
        get => Configuration.Get<bool>(Setting);
        set => Configuration.Set(Setting, value);
    }

    private string GetSettingDisplayName()
    {
        var name = Setting.ToString();
        return typeof(Dragon6Setting).GetField(name).GetCustomAttribute<DescriptionAttribute>()?.Description ?? name.Humanize();
    }

}