<nav class="d6-header-footer">
    <a href="/home" class="d6-header-footer--container text-decoration-none">
        <img src="_content/DragonFruit.Six.Client/assets/dragon6.svg" alt="" class="d6-logo">
        <span class="ms-4 text-truncate d6-logo-subtitle">@Title</span>
    </a>
</nav>

@code {

    [Parameter]
    public string Title { get; set; }

}