<div class="d-flex align-items-center justify-content-center gap-3">
    <HxSpinner Color="ThemeColor.Info"/>
    <span>@Text</span>
</div>

@code {

    [Parameter]
    public string Text { get; set; }

}