@page "/"
@layout CoreLayout

<div class="d6-splash">
    <img src="_content/DragonFruit.Six.Client/assets/dragon6.svg" alt="" class="d6-splash-logo"/>
    <HxSpinner Size="SpinnerSize.Regular" Color="ThemeColor.Danger"/>
    <span>@CurrentStatus</span>
</div>