@page "/stats"
@page "/stats/{platform}/{identifier}"
@layout CoreLayout
@using DragonFruit.Six.Api.Seasonal.Enums
@using DragonFruit.Six.Client.Overlays.Search
@using Humanizer

<SearchProvider @ref="_searchProvider"/>

<HeadContent>
    <link rel="stylesheet" href="/_content/DragonFruit.Six.Client/styles/stats.css"/>
</HeadContent>

<div class="d6-account-cover">
    <D6Header Title="Stats"/>
    <div class="container mt-5">
        <D6Searchbar OnUserSubmit="q => _searchProvider.SearchForAccount(q.username, q.platform)"/>
    </div>
</div>

<div class="d6-account-container">
    <img src="@(Account?.Image ?? "/_content/DragonFruit.Six.Client/assets/generic-avatar.png")" alt="player image" class="d6-account-avatar"/>
    <div class="d-flex align-items-center align-items-md-baseline ms-md-3 mb-md-4 mb-2">
        @if (Account != null)
        {
            <h1 class="mb-0 mb-md-2">@Account.Username</h1>
        }
        else
        {
            <HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
                <HxPlaceholder Columns="8"/>
            </HxPlaceholderContainer>
        }
    </div>
    @if (AccountActivity != null)
    {
        <h5 class="mx-auto ms-md-auto me-md-0 mb-md-4">Last seen @AccountActivity.LastSession.Humanize()</h5>
    }
</div>

<div class="d6-stats">
    <StatsSeasonal Account="Account" PreloadedStats="PostFreezeSeasons"/>

    <div class="d6-stat-container">
        <StatsAggregation Board="BoardType.Casual" Stats="Casual"/>
        <StatsAggregation Board="BoardType.Ranked" Stats="Ranked"/>
        <StatsAggregation Board="BoardType.Deathmatch" Stats="Deathmatch"/>
    </div>

    <div class="d6-modern-stats">
        <div>
            <h3>Recent Activity Overview</h3>
            <p class="text-muted">Stats collected for Casual, Ranked and Unranked over the past ~@ModernStatsRange days</p>
        </div>

        <StatsOverview Account="Account"/>
        <StatsOperator Account="Account"/>
    </div>
</div>