<div>
    <h3 class="mt-0">@Title</h3>
    <div class="d6-progress progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: @Progress.ToString("f2")%"></div>
    </div>
    <div class="d-flex">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public float Progress { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}