@using DragonFruit.Six.Api.Seasonal.Enums

<div>
    <div class="d6-seasons">
        @if (Boards != null)
        {
            <div class="d6-season-cards d-md-grid">
                @foreach (var season in Boards[SelectedBoard].Skip((Page - 1) * 4).Take(EntriesPerPage))
                {
                    <StatsSeasonCard Season="@season" DisplayMaxRank="@DisplayMaxRank" OnSeasonSelected="SetSelectedSeason"/>
                }
            </div>

            <hr class="text-secondary mt-3"/>

            <div class="d6-season-controls">
                <button class="btn btn-text text-secondary" @onclick="() => ChangePage(-1)">
                    <i class="fa-solid fa-angle-left"></i>
                </button>

                <HxDropdownButtonGroup Direction="DropdownDirection.Down">
                    <HxDropdownToggleButton CssClass="text-light d6-season-board-selector" Color="ThemeColor.None">
                        @SelectedBoard.ToString()
                    </HxDropdownToggleButton>
                    <HxDropdownMenu CssClass="dropdown-menu-dark">
                        @foreach (var board in Enum.GetValues<BoardType>().Where(x => x <= BoardType.Casual))
                        {
                            <HxDropdownItem OnClick="() => SelectedBoard = board">@board.ToString()</HxDropdownItem>
                        }
                    </HxDropdownMenu>
                </HxDropdownButtonGroup>

                <button class="btn btn-text text-secondary" @onclick="() => ChangePage(1)">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        }
        else
        {
            <div class="d6-season-cards d-md-grid justify-content-center">
                @for (int i = 0; i < 4; i++)
                {
                    <HxPlaceholderContainer Animation="PlaceholderAnimation.Wave">
                        <HxPlaceholder Columns="8" Size="PlaceholderSize.Small"/>
                        <HxPlaceholder Columns="12" Size="PlaceholderSize.Large"/>
                    </HxPlaceholderContainer>
                }
            </div>
        }
    </div>

    @if (SelectedSeason != null)
    {
        <hr class="text-secondary mt-3"/>
        <StatsSeasonDetails Season="SelectedSeason" DisplayMaxRank="DisplayMaxRank"/>
    }
</div>